# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: bc9c9dedd87652f3550b7159165a7688575726fc446e5e255ec72b2ab4f50158746be0e3778d0e79ee8c27f670f5ace77f711b0d8190d24562d4e254b5c14efb

test:
  secret_key_base: cdbbb81f852e1dd57abccf2f547b5c1c30d507926caaad9f8f81cb0968a31c9054ef42ffdd0eb13bd6d1714e034a0248bbcebbb749e96689aa063afe3b67e95d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
